@{
    Layout = "~/Views/Shared/_LayoutMetronicNew.cshtml";
}

<div class="tabbable tabbable-line tabbable-tabdrop">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab_case" data-toggle="tab">Case</a>
        </li>
        <li>
            <a href="#tab_procedure" data-toggle="tab">Procedure</a>
        </li>
        <li>
            <a href="#tab_documents" data-toggle="tab">Documents</a>
        </li>
        <li>
            <a href="#tab_chat" data-toggle="tab">Chat</a>
        </li>
        <li>
            <a href="#tab_review" data-toggle="tab">Review</a>
        </li>
        <li>
            <a href="#tab_report" data-toggle="tab">Report</a>
        </li>
        <li>
            <a href="#tab_billing" data-toggle="tab">Billing</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_case">
            @Html.Partial("CaseTab")
        </div>
        <div class="tab-pane" id="tab_procedure">
            @Html.Partial("ProcedureTab")
        </div>
        <div class="tab-pane" id="tab_documents">
            @Html.Partial("DocumentsTab")
        </div>
        <div class="tab-pane" id="tab_chat">
            @Html.Partial("ChatTab")
        </div>
        <div class="tab-pane" id="tab_review">
            @Html.Partial("ReviewTab")
        </div>
        <div class="tab-pane" id="tab_report">
            @Html.Partial("ReportTab")
        </div>
        <div class="tab-pane" id="tab_billing">
            @Html.Partial("BillingTab")
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Content/metronic/global/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js" type="text/javascript"></script>
}

